<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CARRENTAL"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".UPDATEINSURANCE"
            android:exported="false" />
        <activity
            android:name=".CarDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".CarDeleteAdapter"
            android:exported="false" />
        <activity
            android:name=".ManagerDeleat"
            android:exported="false" />
        <activity
            android:name=".ManagerSearch"
            android:exported="false" />
        <activity
            android:name=".ManagerApproved"
            android:exported="false" />
        <activity
            android:name=".ManagerDetailsApprover"
            android:exported="false" />
        <activity
            android:name=".Result1"
            android:exported="false" />
        <activity
            android:name=".Result"
            android:exported="false" />
        <activity
            android:name=".Queries"
            android:exported="false" />
        <activity
            android:name=".List"
            android:exported="false" />
        <activity
            android:name=".UPDATING"
            android:exported="false" />
        <activity
            android:name=".UPDATE"
            android:exported="false" />
        <activity
            android:name=".Insertcar"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.car_rental.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Location.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".reservationform.PaymentDetails"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.car_rental.reservationform.PaymentDetails" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".reservationform.ReservationDetials"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.car_rental.reservationform.ReservationDetials" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignOut"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.car_rental.SignIn" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CarDetails"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.car_rental.CarDetailsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityForUser"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CarRentalSystem.NoActionBar" />
    </application>

</manifest>